.superior{
	text-align: right;
	float: right;

}

.imagen{
	height: 132px;
    width: 243px;
    margin: 0px 0px 0px 126px;
}

.enlinea{
	display: inline-flex;
}	

.AcomodarLogo{
	float: left;
	width: 22%;
}

.imagenTabla{
	height: 60%;
    max-height: 70px;
    width: 60%;
    max-width: 70px;
    padding: 2px;
}

.barraLargo{
	margin:0;
	width:350px;
}

.altoTabla{
	height: 200px;
}

.acomodarBoton{
	font-weight: bold;
    height: 22px;
    margin-left: 11px;
}

.acomodarTabla{
	margin:6px 2%;
}

.input{
	width: 20em;
}

.contenedor{
	background:#ccc;

}

.main{
	background: #fff;
	padding: 5px;
	width:100%;
}


body header{
	font-family:Lucida Fax; 

}



header{
	background: #BFBFBF;
	width: 100%;
	padding: 20px;
	height: 160px;
	display: block;
}



label{
	margin-left: 5px;
}

table{
	width: 100%;
	text-align:center;
	border-collapse: collapse;
	margin-top: 5px;
}

table,tr,th{
	border: 1px solid black;
}

td{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

table a{
	color: black;
}

form{
	margin:0;
	width: 400px;
}

header,div #Logotipo,div #menu{
	display: inline-block;
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

div #Catalogo,div #BuscadorDeLibros{
	display: inline-block;
	margin:5px;
}

header div a {
	text-decoration:none;
	color:black;
}

section h3,section h4,section th{
	font-family:Lucida Fax,Arial Black;
}

section td{
	font-family: Eras Medium ITC,Monotype Corsiva,Bahnschrift Light,Arial;
}

#BusquedaLibro{
	margin: 0;
	text-align: center;
	color: black;
}

#linea{
	border:1px solid black;
}

#menu{
	background-color:#A1A1A1;
    margin: 60px 0px 0px 252px;

}

 #menu ul{
 	list-style: none;
 	margin:0;
 	padding: 0;
 }

 #menu ul,li{
 	display: inline-block;
 }

 #menu ul li a{
 	color: black;
 	display: block;
 	padding: 6px 77px;
 	text-decoration: none;
 }

 #menu ul li a:hover {
		background-color: #6E6E6E
 }


 @media (max-width: 600px) {
    .imagen{
		height: 53px;
		width: 150px;
	}
}

form input{
	margin:0 3px 0 5px;
}
.AcomodarTablaRegistro{
	margin:0 auto;
    height: 368px;
}

.AcomodarTablaIniciarSesion{
	margin:55px auto;
	height: 186px;
	width: 300px;
}
